@model WebApplication_Proyecto2.Models.UpdateLibroViewModel
@{
}

<h1>Editar Libros</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Autor</label>
        <input type="text" class="form-control" asp-for="Nombre_Empresa">
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>

    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Libro">Eliminar</button>
</form>